/* Importar Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Estilos Generales */
.navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent; /* Fondo transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el fondo */
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente al hacer scroll */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra al hacer scroll */
}

/* Estilo del contenedor principal del navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Estilo de la Marca */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Menú del Navbar */
.navbar-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centrar el menú */
  align-items: center; /* Alineación vertical */
}

.navbar-nav {
  list-style: none;
  display: flex; /* Elementos en fila horizontal */
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-item {
  margin: 0 40px; /* Espacio horizontal */
}

.nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

/* Acciones del Navbar (Ej: Carrito) */
.navbar-actions {
  display: flex;
  align-items: center;
}

.carrito-boton {
  background: none;
  border: none;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  margin-right: 1rem;
}

.carrito-boton:hover .carrito-badge {
  background-color: #ff4c4c;
}

.carrito-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #dc3545;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Alineación vertical */
    gap: 15px; /* Espaciado entre los elementos */
  }

  .nav-item {
    margin: 10px 0; /* Espaciado vertical */
  }

  .nav-link {
    font-size: 16px; /* Tamaño de fuente más pequeño */
  }

  .navbar-menu {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    gap: 20px; /* Espaciado adicional */
  }
}

@media (max-width: 576px) {
  .navbar-menu {
    gap: 10px; /* Espacio adicional */
  }

  .nav-item {
    margin: 5px 0; /* Reduce el margen */
  }

  .nav-link {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
}
