@import '~bootstrap/dist/css/bootstrap.min.css';

/* container */

.container {
  max-width: 960px;
}
.icon-link{
  color: white;
  text-decoration: none;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Extra utilities
 */


.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.custom-container {
  position: static; 
  padding: 160px; 
  margin: 0;
  background-image: url(../src/Img/fnd.jpg);
  background-size: cover;
  background-position: center;


}

.second-custom-class {
  /* Estilos para pantallas pequeñas o extra pequeñas (por defecto) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Para pantallas medianas y superiores (>= 768px) */
@media (min-width: 768px) {
  .custom-class {
    width: 50% !important;
  }
}

/* Para pantallas grandes y superiores (>= 992px) */
@media (min-width: 992px) {
  .custom-class {
    padding: 3rem;
  }
}

.custom-display {
  font-size: calc(1.200rem + 3.5vw);
  font-weight: 700;
  text-align: center;
}

.custom-subtitle {
  font-weight: 400;
  color: #151616; 
  margin-bottom: 1rem;
  text-align: center;
}

/* MAIN */

.main-custom-class {
  width: 100%; /* w-100 */
  margin-top: 4rem;
  margin-bottom: 4rem; 
  padding-left: 1rem; 
}

/* Para pantallas medianas y superiores (>= 768px) */
@media (min-width: 768px) {
  .custom-class {
    display: flex; /* d-md-flex */
  }
  
  .custom-class > * {
    flex: 1; /* flex-md-equal */
  }
}

.custom-inner-class {
  color: #ffffff; /* Texto blanco */
  padding-top: 1rem; /* pt-3 */
  padding-left: 1rem; /* px-3 */
  padding-right: 1rem; /* px-3 */
  text-align: center; /* text-center */
  overflow: hidden; /* overflow-hidden */
  background-image: url(../src/Img/mates-background.jpg);
  background-size: cover;
  background-position: center;
}

.custom-inner-classtwo {
  color: #ffffff; /* Texto blanco */
  padding-top: 1rem; /* pt-3 */
  padding-left: 1rem; /* px-3 */
  padding-right: 1rem; /* px-3 */
  text-align: center; /* text-center */
  overflow: hidden; /* overflow-hidden */
  background-image: url(../src/Img/dulce-de-leche.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .custom-inner-classtwo {
      margin-right: 1rem;
      padding-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
  }
}

.custom-inner-classthree {
  color: #ffffff; /* Texto blanco */
  padding-top: 1rem; /* pt-3 */
  padding-left: 1rem; /* px-3 */
  padding-right: 1rem; /* px-3 */
  text-align: center; /* text-center */
  overflow: hidden; /* overflow-hidden */
  background-image: url(../src/Img/alfajor-argentino-three.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .custom-inner-classthree {
      margin-right: 1rem;
      padding-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
  }
}


/* Para pantallas medianas y superiores (>= 768px) */
@media (min-width: 768px) {
  .custom-inner-class {
    margin-right: 1rem; /* me-md-3 */
    padding-top: 3rem; /* pt-md-5 */
    padding-left: 3rem; /* px-md-5 */
    padding-right: 3rem; /* px-md-5 */
  }
}


